:root {
    --color-primary: #0082e6;
    --color-white: white;
    --color-active: #1b9bff;
    --color-background: #2c3e50;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);

}

nav{
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
}

label.logo{
    color: var(--color-white);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: var(--color-white);
}

nav ul li a{
    color: var(--color-white);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background-color: var(--color-active);
    color: var(--color-primary);
}

.checkbtn{
    font-size: 30px;
    color: var(--color-white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--color-background);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s; 
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: var(--color-active);
    }
    #check:checked ~ ul{
        left: 0;
    }
}


/* wrapper */

.info_me{
    border-radius: 50%;
    height: 30%;
    width: auto;
    border: var(--color-background) 3px solid;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 4%;
    box-sizing: border-box;
    justify-content: center;
}

.info-box {
    flex: 1;
    max-width: 60vw;
    padding: 20px;
    background-color: rgba(233, 226, 226, 0.98);
    border-radius: 10px;
    flex-direction: row;
    box-sizing: border-box;
    text-align: center;
}

.info-box h2 {
    color: var(--color-primary);
    text-shadow: 2px 2px 2px var(--color-white);
}

.info-box p{
    margin-top: 1%;
    margin-bottom: 1%;
}

@media (max-width: 858px) {
    .container {
       font-size: 15px;
       justify-content: center;
    }
    .info-box{
        min-width: 80%;
    }
    .info_me{
        height: 20%;
        width: auto;
    }
}

/* STYLE FOR BACKGROUND */

.wrapper {
    position: absolute;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-color: var(--color-background);
    z-index: -1;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    border-radius: 30px;
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 90%;
    left: 85%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 50%;
    left: 90%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 1;
    } 
}